body {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

.jumbotron {
    background-color: #2c3e50;
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 40px 0px 20px 0px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

footer {
    padding: 10px 10px 10px 10px;
    background-color: #2c3e50;
    color: white;
    margin-bottom: 0px;
    margin-top: 170px;
}

.footer-address-icon {
    padding-right: 10px;
}

.button-icon-reserve {
    padding-right: 7px;
}

.img-fluid {
    width: 100%;
    height: 250px;
    max-width: 100%;
}

.container {
    padding-top: 40px;
}

.tab-content {
    margin-top: 20px;
}